.image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    justify-content: center;
}
.addclub{
   
    border: 3px solid beige;
    background-color: rgba(4, 77, 113, 0.367);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}
#username{
    border-radius: 50px;
}
#password{
    border-radius: 50px;
}
.card-body{
    background-color: rgba(234, 247, 245, 0.936);
}
.Menu{
    background-color: rgb(10, 3, 67);
    font-size: x-large;
    color: white;
}
.details{

    background-color: aqua;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.mt-4{
    background-color: rgb(49, 3, 47);
    color: aliceblue;
    text-align: center;
    width: 100%;
}
.table-bordered{
    width: 100%;
    background-color: rgb(178, 187, 7);
    text-align: justify;
}
#club-table-body{
    background-color: rgb(197, 203, 206);
}
.form-group{
    font-weight: bold;
}
.form-control{
    border-radius: 25px;
}
